*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color:rgb(73, 66, 66);
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  background-color:rgba(100, 132, 24, 0.50);
  /* background-image: url("./bg.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  padding: 5%;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
  }
}

.wrapper {
    width: 100%;
      
}

