*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color:rgb(73, 66, 66);
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  background-color:rgba(100, 132, 24, 0.50);
  /* background-image: url("./bg.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wrapper {
    width: 50%;
    max-width: 900px;
    padding: 0 10px;
    margin: auto;
    
}

main .wrapper {
  padding: 50px 15px;
}
