*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #455;
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  background-color: rgb(53, 53, 53);
  /* background-image: url("./bg.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 60px;
  line-height: 60px;
  background: rgba(245, 245, 245, 0.5);
  text-align: center;
  color:beige
 

}

.wrapper {
    width: 50%;
    max-width: 900px;
    padding: 0 10px;
    margin: auto;
    
}

main .wrapper {
  padding: 50px 15px;
}

.post {
  padding: 20px;
  margin-bottom: 50px;
  background: rgba(245, 245, 245, 0.5);
  box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
  color: rgb(243, 235, 235);
  font-family: 'Playfair Display', serif;
  
}

.post img {
  display: block;
  width: 100%;
}
.post button {
  background: none;
  border:none;
  margin-top: 15px;
}
.description {
  font-size: 12px;
  margin-top: 15px;
}
.description.collapsed {
  display: none;
}

.description.expanded {
  display: block;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  color: beige;
}